<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:jee="http://www.springframework.org/schema/jee"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/jee    http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


  <context:annotation-config />
  <context:component-scan base-package="mx.com.openweathermap">
  </context:component-scan>

  <bean id="exceptionHandlerAspect"
    class="mx.com.openweathermap.exceptions.SnapshotExceptionHandlerAspect">
  </bean>

  <aop:aspectj-autoproxy />
  <aop:config>
    <aop:aspect ref="exceptionHandlerAspect">
      <aop:pointcut id="handleSeleniumException" expression="execution(* mx.com.openweathermap.automation..*(..))" />
      <aop:after-throwing throwing="exception"
        pointcut-ref="handleSeleniumException" method="handleSeleniumException" />
    </aop:aspect>
  </aop:config>


</beans>
